src/My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-csv",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "dc7d1b9c-20c9-4f96-87cc-54c169818ab7",
      "name": "Webhook",
      "webhookId": "fd137f5e-5697-4c4e-8bc1-89491472f4ab"
    },
    {
      "parameters": {
        "binaryPropertyName": "data0",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "d41ade08-24c5-4d58-8ee0-bc06055cf2f4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "48121d9e-c771-4169-9d8b-d53f226739ab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "30455c99-a963-4e4d-981c-7ec8289303ff"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    phone: $json[\"phone\"],\n    message: ($node[\"Webhook\"].json[\"body\"][\"message\"] || \"\").replace(\"{name}\", $json[\"name\"] || \"Unknown\")\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -100
      ],
      "id": "c2f3598a-893d-4b62-b2dd-7b61638c3cb5",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=http://local.adspower.net:50325/api/v1/browser/start?user_id=k10nlvoh",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -100
      ],
      "id": "38c66407-d7e0-4006-b5f5-7390084474e4",
      "name": "Start Browser"
    },
    {
      "parameters": {
        "command": "=node f:\\Node\\whatsapp-sender\\src\\playwright-script.js {{$json[\"data\"][\"ws\"][\"puppeteer\"]}}{{$node[\"Code\"].json[\"phone\"]}}{{$node[\"Code\"].json[\"message\"]}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1100,
        -100
      ],
      "id": "a968b5f5-ca97-4504-8179-e824e19a1535",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Start Browser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Browser": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2080e660-3d38-4c96-85da-a1f266820e02",
  "meta": {
    "instanceId": "7d87d8e6a12e933dc8f3cb9b69f8622e77933f53dd9d6e8b16e2a48df7346034"
  },
  "id": "gpQ0r5gtIDU2Ixl6",
  "tags": []
}